<div id="itemAdder">
	<form id="itemAdder-form">
		<div class="form-row">
			<input type="text" id="itemAdder-year" class="itemAdder-date" value="<%= currentYear %>" required>
			<input type="text" id="itemAdder-month" class="itemAdder-date" value="<%= currentMonth %>" required>
			<input type="text" id="itemAdder-day" class="itemAdder-date" value="<%= currentDay %>" required>
			<input type="text" id="itemAdder-content" placeholder="Something you did today..." required>
		</div>
		<div class="form-row">
			<input type="text" id="itemAdder-tags" placeholder="Tags...">
			<input type="submit">
		</div>
	</form>
</div>