<div id="itemAdder">
	<form id="itemAdder-form">
		<div class="form-row">
			<input type="text" id="itemAdder-year" class="itemAdder-date" value="<%= currentYear %>" placeholder="YYYY"  required>
			<input type="text" id="itemAdder-month" class="itemAdder-date" value="<%= currentMonth %>" placeholder="MM" required>
			<input type="text" id="itemAdder-day" class="itemAdder-date" value="<%= currentDay %>" placeholder="DD"  required>
			<input type="text" id="itemAdder-content" placeholder="Something you did today..." required>
		</div>
		<div class="form-row">
			<div contenteditable="true" id="itemAdder-tags"></div>
			<input type="submit">
		</div>
	</form>
</div>